body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P";
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

.title {
  color: cyan;
}

#tablero {
  margin: auto;
  width: 450px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#tablero > button {
  width: 150px;
  height: 150px;
  max-width: 33.33%;
  font-size: 5em;
}

#victoria {
  visibility: hidden;
  color: chartreuse;
}
